.description {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  gap: 20px;
}

.description__text {
  font-size: 1em;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color: aqua;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items:normal;
}